body{
    font-family:"Montserrat", sans-serif;
}

header{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.contenedor-principal{
    width: 100dvw;
    display: flex;
    justify-content: center;
   

}

.contenedor-principal textarea{
    resize: none;
}

.textAreaDos{
    border: black solid;
}